{# templates/admin/page.html.twig #}

{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" media="screen" href="{{ asset('css/admin/styles.css') }}" />

{% endblock %}
{% block menu %}
    {% include 'admin/menu.html.twig' %}

{% endblock %}

{% block body %}
<div id="page" class="container">
<table class="table  table-bordered table-hover" >
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Date de création</th>
        <th scope="col">Date de mise à jour</th>
    </tr>
    </thead>
    <tbody>
{%  for item in liste %}
    <tr data-url="{{ path('admin.page.edit', {slug: item.id}) }}">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.datecreate|date }}</td>
        <td>{{ item.dateupdate|date }}</td>
    </tr>
{% endfor %}
    </tbody>
</div>


{% endblock %}

{% block javascripts %}
    <script>
        $("table tbody tr").click(function () {
            window.location=$(this).attr("data-url");
        })
    </script>
{% endblock %}
