
{% form_theme form 'bootstrap_4_layout.html.twig' %}


    {% if bloc is defined or content is defined %}
<script src={{ asset('js/admin/ckeditor/ckeditor.js') }}></script>
<div class="jumbotron" id="content_add">
    <div class="display-8">Ajout d'un contenu</div>
	{{ form_start(form) }}
		<input type="hidden" id="bloc" name="bloc" value="{{ bloc }}">
        <input type="hidden" id="content" name="content" value="{{ content }}">
	{{ form_widget(form.data) }}
    <div class="row">
        <div class="col-sm-6">
			{{ form_row(form.valider) }}
	</div>
        <div class="col-sm-6">
			{{ form_row(form.fermer) }}

        </div>

    </div>
	{{ form_end(form) }}
	<div id="liste_bloc" style="overflow-y:scroll;height: 200px">
	{% for bloc in liste_bloc %}
	<p>{{ bloc.data|raw }}</p>
	{% endfor %}
	</div>

</div>
        <script>
            CKEDITOR.replace("form_data", {
    			extraPlugins : 'autogrow',
    			removePlugins : 'resize',
    			entities : false
			});
			close();
		$("#form_valider").click(function(event) {
			event.preventDefault();
        	var ContentFromEditor = CKEDITOR.instances.form_data.getData();

        	var dataString = $("form[name=form]").serialize();

            dataString += '&ContentFromEditor='+ContentFromEditor; 
			console.log(dataString);

			/*res={"content":$("#content").val(),"data":ContentFromEditor};
			if($("#bloc").val()) {
				content=document.createElement("div");
				content.setAttribute("id",$("#content").val());
				content.classList.add("content");
				$(content).html(res.data);
				$("#"+$("#bloc").val()).append(content);
			}
			action_on_zone();
			pagebuilder.set_bloc(res);
			close_popup();*/

			// On n'enregistre pas encore les blocs de données

        	$.ajax({
        		type: "POST",
        		url: url_popup_content,
        		data: dataString,
		        cache: false,
        		success: function(r){
					res=JSON.parse(r);
					console.log(res);
					if(res.bloc) {
						content=document.createElement("div");
						content.setAttribute("id",res.content);
						content.classList.add("content");
						$(content).html(res.data);
						$("#"+res.bloc).append(content);
					} else if(res.content) {
						$("#"+res.content).html(res.data);
					}
					action_on_zone();
					pagebuilder.set_bloc(res);
					close_popup();

					//p=eval("("+r+")");
       			},
       			error: function(xhr, ajaxOptions, thrownError){ 
            		console.log(xhr.responseText);
        		}
			//		uniqid=(new Date().getTime()).toString(16);
     		});
	})

        </script>

    {% endif %}

