
{% form_theme form 'bootstrap_4_layout.html.twig' %}


    {% if bloc is defined or content is defined %}
<script src={{ asset('js/admin/ckeditor/ckeditor.js') }}></script>
<div class="jumbotron" id="content_add">
    <div class="display-8">Ajout d'un contenu</div>
	{{ form_start(form) }}
		<input type="hidden" id="bloc" name="bloc" value="{{ bloc }}">
        <input type="hidden" id="content" name="content" value="{{ content }}">
	{{ form_widget(form.data) }}
    <div class="row">
        <div class="col-sm-6">
			{{ form_row(form.valider) }}
	</div>
        <div class="col-sm-6">
			{{ form_row(form.fermer) }}

        </div>

    </div>
	{{ form_end(form) }}


</div>
        <script>
            CKEDITOR.replace("form_data", {
    			extraPlugins : 'autogrow',
    			removePlugins : 'resize',
    			entities : false
			});
			close();
		$("#form_valider").click(function(event) {
			event.preventDefault();
        	var ContentFromEditor = CKEDITOR.instances.form_data.getData();

        	var dataString = $("form[name=form]").serialize();

            dataString += '&ContentFromEditor='+ContentFromEditor; 
			console.log(dataString);
        	$.ajax({
        		type: "POST",
        		url: url_popup_content,
        		data: dataString,
		        cache: false,
        		success: function(r){
					res=JSON.parse(r);
					console.log(res);
					if(res.bloc) {
						content=document.createElement("div");
						content.setAttribute("id",res.content);
						content.classList.add("content");
						$(content).html(res.data);
						$("#"+res.bloc).append(content);
					} else if(res.content) {
						$("#"+res.content).html(res.data);
					}
					action_content();
					close_popup();

					//p=eval("("+r+")");
       			},
       			error: function(xhr, ajaxOptions, thrownError){ 
            		console.log(xhr.responseText);
        		}
     		});
	})

        </script>

    {% endif %}
    {% if str is defined %}

        <script>
            window.onload=function() {
                bloc=parent.document.getElementById("bloc").value
                content=parent.document.getElementById("content").value;
				if(content) {
					parent.document.getElementById(content).innerHTML="{{ str|raw }}";
					parent.document.getElementById("popup").style.display="none";
					parent.action_content();

				} else {
				
					uniqid=(new Date().getTime()).toString(16);
					content=document.createElement("div");
					content.setAttribute("id",uniqid);
					content.classList.add("content");
					content.innerHTML="{{ str|raw }}";
					parent.document.getElementById(bloc).appendChild(content);
					parent.document.getElementById("popup").style.display="none";
					parent.action_content();
				}



            }
        </script>

    {%  endif %}


